/* Base Application Styles */
body {
  background: #222;
}
.loading-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.loading {
    background: #333;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.loading-wrap h7 {
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 230px;
    color: #e8e8e8;
    width: 100%;
}
.loading-img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    left: 50%;
    top: 50%;
}
.title {
    color: #fff;
    text-align: center;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li {
    padding: 0;
}
.nav>li>a {
    padding: 10px 5px;
}
.nav-tabs>li>a {
    background: #ccc;
    color: #717171;
    font-size: 12px;
    
}
.nav-tabs>li.active>a {
    padding: 10px 10px;
}
.nav-tabs>li.active>a {
    font-weight: 700;
}

.container .control-label {
    line-height: 35px;
}
.result .control-label {
    line-height: 40px;
    font-size: 18px;
}

.main-form {
    background: #fff;
    padding: 10px 0 5px;
    color: #333;
    border-radius: 0 5px 5px 5px;
}
.calculate-btn {
}


.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

::-webkit-input-placeholder { font-size: 12px; }
::-moz-placeholder { font-size: 12px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 12px; } /* ie */
input:-moz-placeholder { font-size: 12px; }